<head>
<title>{{ medley.name }} | QuatPatatDB</title>
</head>

<body>

<h1>{{ medley.name }}</h1>

{% if medley.type %}
    <p>
    <b>Type:</b> {{ medley.type }}
{% endif %}

<p>
{% if medley.tunemedleyrelationship_set.exists %}
    The following tunes comprise {{ medley.name }}:
    <ol>
        {% for relationship in medley.tunemedleyrelationship_set.all|dictsort:"position" %}
            <li>
                <a
                    href="{% url "tune-detail-view" relationship.tune.id %}"
                >{{ relationship.tune.name }}</a>
                <small>({{ relationship.position }})</small>
        {% endfor %}
    </ol>
{% else %}
    There are no tunes in {{ medley.name }}
{% endif %}

{% if medley.notes %}
    <p>
    <b>Notes:</b> {{ medley.notes }}
{% endif %}

<p>
{% if medley.medleyperformancerelationship_set.exists %}
    {{ medley.name }} is a member of the following performances:
    <ul>
    {% for relationship in medley.medleyperformancerelationship_set.all %}
        <li>
            <a
                href="{% url 'performance-detail-view' relationship.performance.id %}"
            >{{ relationship.performance.name }}</a>
    {% endfor %}
    </ul>
{% else %}
    {{ medley.name }} is not part of any performances.
{% endif%}

</body>
