<head>
<title>{{ performance.name }} | QuatPatatDB</title>
</head>

<body>

<h1>{{ performance.name }}</h1>

{% if performance.date %}
    <p>
    <b>Date:</b> {{ performance.date }}
{% endif %}

{% if performance.type %}
    <p>
    <b>Type:</b> {{ performance.type }}
{% endif %}

{% if performance.medleyperformancerelationship_set.exists %}
    <p>
    The following medleys comprise {{ performance.name }}:
    <ol>
        {% for relationship in performance.medleyperformancerelationship_set.all|dictsort:"position" %}
            <li>
                <a href="{% url "medley-detail-view" relationship.medley.id %}">
                    {{ relationship.medley.name }}
                </a>
                <small>({{ relationship.position }})</small>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>
    There are no medleys in {{ performance.name }}
{% endif %}

{% if performance.notes %}
    <p>
    <b>Notes:</b> {{ performance.notes }}
{% endif %}

</body>
