<head>
<title>{{tune.name}} | QuatPatatDB</title>
</head>

<body>

<h1>{{tune.name}}</h1>

{% if tune.type %}
    <p>
    <b>Type:</b> {{ tune.type }}
{% endif %}

{% if tune.key %}
    <p>
    <b>Key:</b> {{ tune.key }}
{% endif %}

{% if tune.composer %}
    <p>
    <b>Composer:</b> {{ tune.composer }}
{% endif %}

{% if tune.notes %}
    <p>
    <b>Notes:</b> {{ tune.notes }}
{% endif %}

<p>
{% if tune.tunemedleyrelationship_set.exists %}
    {{ tune.name }} is a member of the following medleys:
    <ul>
    {% for relationship in tune.tunemedleyrelationship_set.all %}
        <li>
            <a
                href="{% url 'medley-detail-view' relationship.medley.id %}"
            >{{ relationship.medley.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    {{ tune.name }} is not part of any medleys.
{% endif%}

</body>
